/* Global styles */


/* Main content container to avoid conflict with navigation */
.main-content {
    display: flex;
    color: black;
    width: 100%;
    margin-top: -20vh;
}

.naslov-novice h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.novice-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.novica-placeholder {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
}

.novica-image {
    height: 70%;
    width: 100%;
}

.novica-image img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.novica-title {
    overflow: hidden;
    text-overflow: none;
    white-space: wrap; /* Keeps text on one line and truncates with ellipsis if too long */
}

.novica-title a {
    font-size: 0.8rem; /* Initial font size */
}

.novica-title a:hover h2 {
    color: blue;
}

.desni-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 40%;
}

.atletska-sola img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
}

.atletska-sola img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

/* Novice (News) - takes full width */
.novice {
    background-image: url(../../assets/red-blurry-center.svg);
    background-repeat: no-repeat;
    padding: 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 25vh 25vh;
    gap: 20px;
}

/* Individual Novica (News) background */
.novica-img, .novica-img-null {
    display: flex;
    background-color: #ffffff; /* White background for individual news */
    border-radius: 8px; /* Rounded corners for individual news */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    overflow: hidden;
    padding: 10px;
    height: 100%;
}

.novica-img-null {
    flex-direction: column;
}

.novica-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.novica-title {
    display: flex;
    height: 100%;
    width: 100%;
}

.novica-img a, .novica-img-null a {
    text-decoration: none;
    color: inherit;

}

.novica-img a:hover, .novica-img-null a:hover {
    color: #e07070;
}

.novica-img .novica-left {
    width: 60%;
    margin-right: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novica-img .novica-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.novica-img .novica-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .novice {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 35vh)
    }
    .novica-img, .novica-img-null {
        flex-direction: column;
        align-items: center;
    }
    .novica-img .novica-left, .novica-img .novica-right, .novica-title {
        width: 100%;
    }
    .novica-img .novica-left {
        height: 100%;
    }
    .novica-img .novica-right {
        margin-top: auto;
        height: auto;
        align-items: center;
    }
    .novica-img .novica-right p {
        display: none;
    }
}

.novica-img h2, .novica-img-null h2 {
    margin: 0;
    font-size: 18px;
}

.novica-img p, .novica-img-null p {
    margin: 0;
    font-size: 14px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-event {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-event:hover, .close-event:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
    }
    100% {
        transform: translateX(0); /* End in its final position */
    }
}


.add-news-btn {
    height: auto;
    width: auto;
    background: linear-gradient(135deg, #e07070, #b81212); /* Gradient effect */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transitions */
    margin: 2%;
}

.add-news-btn:hover {
    background: linear-gradient(135deg, #e08686, #d43b3b); /* Hover effect with gradient */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
    transform: translateY(-3px); /* Slight lift effect */
}

.add-news-btn:active {
    transform: translateY(0); /* Remove lift on click */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
}
/* Button for adding news */
/*.add-news-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-news-btn:hover {
    background-color: #45a049;
}*/
