/* Global styles */
body {
    margin: 0;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

@keyframes slideInDogodki {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
    }
    100% {
        transform: translateX(0); /* End in its final position */
    }
}

.naslov-dogodki {
    margin-left: -5vw; /* Slightly shifts the div to the left */
    width: 35vw; /* 1/4 of the screen width */
    height: 10vh;
    background: linear-gradient(135deg, #840c0c, #b81212);
    border-top-right-radius: 50px; /* Completely round top right edge */
    border-bottom-right-radius: 50px; /* Completely round bottom right edge */
    border-top-left-radius: 0; /* Ensure left edge is sharp */
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1vh 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    color: white;
    animation: slideInDogodki 2.2s ease-out forwards; /* Apply animation */
}

.naslov-dogodki h1 {
    margin-right: 2vw;
}

.content {
    margin: 5vw;
    display: flex;
    flex-direction: column;
}

/* Calendar Section */
.dogodki-info {
    margin-left: 10vw;
    width: 80vw;
    height: 50vh;
    background: linear-gradient(#ba1f24, #96151a);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
    display: flex;
    flex-direction: row; /* Change to column */
    gap: 10vw;
    align-items: center; /* Center items horizontally */
    border-radius: 0 0 30px 30px;
    margin-bottom: 10vh;
}

.dogodki-info h1 {
    color: white;
    margin-left: 10vw;
}


/* Novice (News) - takes full width */
.novice {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
}

/* Individual Novica (News) background */
.novica {
    background-color: #ffffff; /* White background for individual news */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for individual news */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.novica h2 {
    margin: 0;
    font-size: 18px;
}

.novica p {
    margin: 5px 0 0;
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
}

.pagination a {
    color: black; /* Plain black for arrows */
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
    padding: 0 10px; /* Space around arrows */
}

.pagination a:hover {
    color: #333; /* Slightly darker black on hover */
}

.page-number {
    font-weight: bold;
    padding: 0 10px; /* Space around the page number */
}




