/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.content {
    margin: 5vw;
    display: flex;
    flex-direction: column;
}

/* Calendar Section */
.dogodki-info {
    margin-left: 10vw;
    width: 80vw;
    height: 50vh;
    background: linear-gradient(#ba1f24, #96151a);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
    display: flex;
    flex-direction: row; /* Change to column */
    gap: 10vw;
    align-items: center; /* Center items horizontally */
    border-radius: 0 0 30px 30px;
    margin-bottom: 10vh;
}

.dogodki-info h1 {
    color: white;
    margin-left: 10vw;
}


/* Novice (News) - takes full width */
.novice {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05); /* Same background color as Dogodki */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
    max-height: 400px; /* Set maximum height to limit overflow */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Individual Novica (News) background */
.novica {
    background-color: #ffffff; /* White background for individual news */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for individual news */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.novica h2 {
    margin: 0;
    font-size: 18px;
}

.novica p {
    margin: 5px 0 0;
    font-size: 14px;
}
