.explenation-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    padding:5vw;
    margin-bottom: 10vh;
    margin-top: -20vh;
}

.explenation-box div{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    color: black;
    margin-right: 10%;
}

.explenation-box h1 {
    float: left;
    color: #000000;
    font-size: 3rem;
}

.explenation-box hr {
    color: #000000;
    width: 100%;
    margin: 10px 0;
}

.explenation-box img{
    height: 20%;
    width: 20%;
    margin-right: 10%;    
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.filter-bar {
    display: flex;
    flex-direction: row; /* Use 'row' instead of 'horizontal' */
    color: Black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 8vh;
    align-items: center;
    position: sticky;
    top: 0; /* Make the element stick to the top */
    z-index: 1000; /* Ensure it appears above other content */
    background-color: #fff; /* Optional: set a background color to avoid transparency issues */
}

.filter-bar label {
    color: white;
    margin-left: 2vw;
    font-size: 2rem;
    vertical-align: middle;
} 

.filter-bar select {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    vertical-align: middle;
}

.ostalo{
    width: 100%;
    height: 40vh;
    background-color: rgb(56, 154, 196);
    color: white;
    display: flex;
}

.ostalo div {
    width: 33.33%;
    padding: 2vw;
}

.ostalo br {
    height: 5px;
    width: 100%;
    color: white;
}

.ostalo-1{
    width: 100%;
    height: 40vh;
    background-color: rgb(56, 154, 196);
    color: white;
    display: flex;
}

.ostalo-1 div {
    width: 30%;
    padding: 2vw;
}

.ostalo-1 br {
    height: 5px;
    width: 100%;
    color: white;
}

.header {
    display: flex;
    flex-direction: row !important;
    width: 80%;
    align-self: center;
    gap: 2%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: -10%;
    background-color: #ffd45f !important;
    border-radius: 10px !important;
}

.header img { 
    margin-top: 1vh;
    height: 5vh;
    width: 5vh;
}

.content {
    padding: 5vw;
    background-image: url(../../assets/green-blue-gradient-top.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.content div{
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.treningi {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.treningi div{
    width: 30%;
    padding: 2vh;
}

.header {
    display: flex;
    justify-content: center;
    justify-self: center;
}

